<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-grid>
    <ion-row>
      <ion-col w-100>
        <ion-list class="list">
          <ion-item class="item"> <strong>App Name:</strong> iWeather </ion-item>
          <ion-item class="item"> <strong>Version:</strong> 1.0.0 </ion-item>
          <ion-item class="item">
            <strong>Description:</strong> Simple Weather app
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
